---
- name: Load distribution specifics
  include_vars: '../vars/{{ ansible_distribution }}.yml'

# tasks file for nagios4
- name: Install required packages
  action: "{{ ansible_pkg_mgr }} {{ 'pkg' if ansible_pkg_mgr == 'apt' else 'name' }}={{ item }} state=latest"
  with_items:
    - "{{ build_tools }}"
    - "{{ ssl_libs }}"
    - "{{ ldap_libs }}"
    - "{{ mysql_libs }}"

- name: Add nagcmd group
  group:
    name=nagcmd
    state=present

- name: Set up nagios and www-data users
  user:
    name="{{ item }}"
    createhome=no
    groups=nagcmd
  with_items:
    - nagios
    - "{{ 'www-data' if ansible_distribution == 'Debian' else 'apache' }}"

- name: Unpack nagios core and plugins
  unarchive:
    src="{{ item }}"
    dest="/tmp"
  with_items:
    - nagios-{{ nagios_version }}.tar.gz
    - nagios-plugins-{{ nagios_plugins_version }}.tar.gz
    - nrpe-{{ nrpe_version }}.tar.gz

- name: Configure nagios plugins
  shell: ./configure --with-nagios-user=nagios --with-nagios-group=nagios --enable-perl-modules
    chdir=/tmp/nagios-plugins-{{ nagios_plugins_version }}
    creates=/tmp/nagios-plugins-{{ nagios_plugins_version }}/Makefile

- name: Build nagios plugins and install
  shell: make {{ item }}
    chdir=/tmp/nagios-plugins-{{ nagios_plugins_version }}
  with_items:
    - ""
    - install

- name: Find the ssl library for nrpe configuration
  shell: find / -name libssl.so
  register: libssl
  changed_when: False

- name: Configure nrpe
  shell: ./configure --with-ssl="{{ '/'.join(libssl.stdout.split('/')[0:-1]) }}"
    chdir=/tmp/nrpe-{{ nrpe_version }}
    creates=/tmp/nrpe-{{ nrpe_version }}/Makefile

- name: Build nrpe
  shell: make
    chdir=/tmp/nrpe-{{ nrpe_version }}

- name: Set up the core
  include: core_only.yml
  when: is_core

- name: Set up remote servers
  include: remote_only.yml
  when: "not is_core or is_core is not defined"
