---
# tasks file for nagios4
- name: Install required packages
  apt:
    pkg={{ item }}
    state=latest
  with_items:
    - apache2
    - build-essential
    - libgd2-xpm
    - libgd2-xpm-dev
    - libapache2-mod-php5
    - php5-gd
    - sendmail
