---
- name: Load distribution specifics
  include_vars: '../vars/{{ ansible_os_family }}.yml'

# tasks file for nagios4
- name: Install required packages
  action: "{{ ansible_pkg_mgr }} {{ 'pkg' if ansible_pkg_mgr == 'apt' else 'name' }}={{ item }} state=latest"
  with_items:
    - "{{ build_tools }}"
    - "{{ ssl_libs }}"
    - "{{ ldap_libs }}"
    - "{{ mysql_libs }}"
    - python-psycopg2

- name: Add nagcmd group
  group:
    name: nagcmd
    state: present

- name: Set up nagios and www-data users
  user:
    name: "{{ item }}"
    createhome: no
    groups: nagcmd
  with_items:
    - nagios
    - "{{ 'www-data' if ansible_os_family == 'Debian' else 'apache' }}"

- name: Allow nagios to run python as postgres
  lineinfile:
    dest: /etc/sudoers
    line: 'nagios ALL=(postgres) NOPASSWD:/usr/bin/python'
    validate: 'visudo -cf %s'

- name: Get Nagios plugins
  get_url:
    url: "{{ item.base }}{{ item.file }}"
    dest: /tmp/{{ item.file }}
  with_items:
    - { base: "https://www.nagios-plugins.org/download/", file: "nagios-plugins-{{ nagios_plugins_version }}.tar.gz" }
    - { base: "http://prdownloads.sourceforge.net/sourceforge/nagios/", file: "nrpe-{{ nrpe_version }}.tar.gz" }

- name: Unpack nagios nrpe and plugins
  unarchive:
    src: /tmp/{{ item }}
    dest: /tmp/
    copy: no
  with_items:
    - nagios-plugins-{{ nagios_plugins_version }}.tar.gz
    - nrpe-{{ nrpe_version }}.tar.gz

- name: Configure nagios plugins
  shell: ./configure --with-nagios-user=nagios --with-nagios-group=nagios --enable-perl-modules
    chdir=/tmp/nagios-plugins-{{ nagios_plugins_version }}
    creates=/tmp/nagios-plugins-{{ nagios_plugins_version }}/Makefile

- name: Build nagios plugins and install
  shell: make {{ item }}
    chdir=/tmp/nagios-plugins-{{ nagios_plugins_version }}
  with_items:
    - ""
    - install

- name: Install extra check_mem plugin
  copy:
    src: nagios-plugins/check_mem/check_mem.pl
    dest: /usr/local/nagios/libexec/check_mem
    owner: nagios
    group: nagios
    mode: 0755

- name: Upload extra plugins
  copy:
    src: "{{ item }}"
    dest: "/usr/local/nagios/libexec/{{ item }}"
    owner: nagios
    group: nagios
    mode: 0755
  with_items:
    - check_postgresql
    - check_postgresql.py
    - check_openstack.py
    - check_cas_sessions
    - docopt.py

- name: Find the ssl library for nrpe configuration
  shell: find / -name libssl.so
  register: libssl
  changed_when: False

- name: Configure nrpe
  shell: ./configure --with-ssl="{{ '/'.join(libssl.stdout.split('/')[0:-1]) }}"
    chdir=/tmp/nrpe-{{ nrpe_version }}
    creates=/tmp/nrpe-{{ nrpe_version }}/Makefile

- name: Build nrpe
  shell: make
    chdir=/tmp/nrpe-{{ nrpe_version }}

- name: Set up the core
  include: core_only.yml
  when: is_core

- name: Set up remote servers
  include: remote_only.yml
  when: "not is_core or is_core is not defined"
